@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-de-fundo: #0D0B0A;
    --titulo-produto: #038C25;
    --cor-cabecalho: #000000;
    --branco: #FFFFFF;
    --hover:  #1e1e1e;
    --fonte-card: Montserrat, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;

  font-size: 1.1rem;
}

.produtos {
  margin: 0% 20%;

  /* display: flex;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid: auto /  auto auto;

  gap: 30px;
  background-color: var(--cor-de-fundo);
}

.card {
  font-family: var(--fonte-card);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  border: 1px solid var(--branco);
  border-radius: 8px;
  color: var(--branco);
  gap: 28px;
  padding: 20px;
  object-fit: cover;
}

.card:hover {
  background-color: var(--hover);
  cursor: pointer;
}

/* Imagem */
.card img,
.uniforme-img {
  margin-top: 10px;
  width: 110px;
  height: 130px;
  border-radius: 4px;
}
.uniforme-img{
  background-color: #808080;
  padding: 0 12px 12px 12px;
  border-radius: 8px;

}

/* Título */
.titulo {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--titulo-produto);
  margin-bottom: 8px;
}

/* Descrição */
.descricao {
  text-align: center;
  font-size: 0.9rem;
  color: var(--branco);
  margin-bottom: 8px;
}

/* Preço */
.preco {
  font-weight: bold;
  margin-bottom: 8px;
}

